html,
body {
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

.canvas-container {
  height: 100vh;
  width: 100vw;
}

.icon-wrap {
  padding-top: 5px;
  pointer-events: none;
}


.icon {
  width: 35px;
  opacity: 0.75;
  pointer-events: none;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: fantasy;
  font-size:80px;
  z-index: 10;
}
